$primary-color:#1890ff;

.mx-auto{
  margin: 2% auto;
}

.w-50{
  width: 50%;
  text-align: center;
}

.w-100{
  width: 100%;
}

.form-padding{
  padding: 2.5rem;
}

.selector-width{
  width: 300px;
}
.m-1{
 margin: 1%;
}

.ant-btn{
  display: block!important;
}

.ant-btn-dashed{
  display: inline-block!important;
  background-color: inherit!important;
  border-color: $primary-color!important;
  color: $primary-color!important;
}